@use "@/styles/main.scss" as *;
.wrapper {
    width: 100%;
    height: 100%;

    grid-column: 1/ span 4;

    @include flexRow(20px, space-between, center);

    @media (width <= 1024px) {
        gap: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        @media (width <= 1024px) {
            gap: 10px;
        }

        .upgrade, .machine {
            width: 100%;
            height: 100%;
            max-height: 300px;
            max-width: 250px;

            @include flexColumn(10px, start, center);
            padding: 20px 10px;

            color: var(--black);
            background-color: var(--white);

            .upgrade-image, .machine-image {
                width: 64px;
                user-select: none;
            }
            .text-container {
                height: 100%;
                @include flexColumn(5px, center, center);

                p {
                    text-align: center;
                    font-size: .8em;

                    &.upgrade-name, &.machine-name {
                        font-size: 1.3em;
                    }
                    &.upgrade-cost, &.machine-cost {
                        color: var(--secondary);
                    }
                }
            }
        }

        .prestige {
            border: 1px solid var(--secondary);
            box-shadow: 0 0 5px var(--secondary);

            .upgrade-name {
                color: var(--secondary);
            }
        }
    }
    .arrow {
        padding: 10px 5px;

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}

.pattern {
    width: 100%;
    height: 100%;

    @include flexColumn(10px, start, center);
    padding: 20px 30px;

    color: var(--black);
    background-color: var(--white);

    .pattern-image {
        width: 80px;
    }
    .text-container {
        height: 100%;
        @include flexColumn(5px, center, center);

        p {
            text-align: center;
            font-size: .9em;
            
            &.pattern-value {
                color: var(--secondary);
            }
            &.requirements {
                @include flexColumn();
                font-size: 0.8em;
                color: var(--secondary);
            }
            &.pattern-name {
                font-size: 1.5em;
            }
        }
    }
    .text-container-inventory {
        height: 100%;
        @include flexColumn(10px, center, center);

        p {
            text-align: center;
            font-size: 1.1em;
            
            &.pattern-value {
                color: var(--secondary);
            }
            &.requirements {
                @include flexColumn();
                font-size: 0.8em;
                color: var(--secondary);
            }
            &.pattern-name {
                font-size: 1.5em;
            }
        }
    }
}