@font-face {
  font-family: "dogica";
  src: url("/fonts/dogica.ttf");
}
:root {
  font-family: "dogica", sans-serif;
  line-height: 1.1;
  letter-spacing: -3px;
  font-weight: 400;
  font-size: 0.65em;
  --black: #000000;
  --white: #FFFFFF;
  --primary: #8F7676;
  --primary75: #8f7676c3;
  --darkgray: #555555;
  --gray: #696969;
  --lightgray: #cdcdcd;
  color: var(--black);
  background-color: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  place-items: center;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100dvh;
  background-image: url(/img/Tile.png);
  background-size: 3%;
}

#app {
  max-width: 1440px;
  max-height: 1024px;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0px;
  text-align: center;
  overflow: hidden;
}
#app header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
}
#app header div#header_info {
  position: relative;
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0;
  color: var(--white);
}
#app header div#header_info img {
  position: absolute;
  width: 100%;
  user-select: none;
}
#app header div#header_info h1 {
  font-size: 3em;
  z-index: 1;
  padding: 0 10px;
}
#app header div#header_info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
  padding: 0 10px;
}
#app header div#header_info div p {
  color: var(--lightgray);
  font-size: 1.5em;
}
#app header div#header_info div p#user {
  color: var(--white);
  font-size: 2em;
}
#app header i {
  font-size: 4em;
  cursor: pointer;
  color: var(--gray);
}
#app main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#app main aside#stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 20px;
}
#app main aside#stats section {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--primary75);
  padding: 20px;
  color: var(--darkgray);
  text-align: start;
  border: var(--primary) 3px solid;
}
#app main aside#stats section h3 {
  width: 100%;
  font-size: 2.5em;
}
#app main aside#stats section p {
  width: 100%;
  font-size: 1.5em;
  color: var(--lightgray);
}
#app main aside#stats section svg {
  width: 100px;
  user-select: none;
  stroke: var(--black);
}
#app main aside#stats section .slider {
  width: 100%;
  height: 10px;
  accent-color: var(--primary);
}
#app main section#simulation {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
#app main section#simulation #factory {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  user-select: none;
  z-index: 1;
  cursor: pointer;
}
#app main section#simulation #factory svg {
  position: absolute;
  left: 58px;
  top: 58px;
  width: 80px;
  stroke: var(--black);
}
#app main section#simulation #factory #progress {
  position: absolute;
  top: 150px;
  color: var(--white);
}
#app main section#simulation #belt {
  position: absolute;
  top: 180px;
  width: 60px;
  height: 350px;
  background-image: url(/img/Belt.png);
  background-size: contain;
}
#app main section#simulation .part {
  width: 60px;
  position: absolute;
  user-select: none;
  stroke: var(--black);
}
#app main section#simulation #color_machine {
  position: absolute;
  top: 260px;
  width: 100px;
  z-index: 5;
}
#app main section#simulation #seller {
  width: 120px;
  user-select: none;
  z-index: 1;
}
#app main section#simulation #pattern_svg {
  width: 60px;
  fill: #ffffff;
  stroke: rgb(0, 0, 0);
}
#app main section#shopList {
  position: relative;
  width: 250px;
}
#app main section#shopList > img {
  position: absolute;
  top: -30px;
  filter: opacity(0.8);
  user-select: none;
}
#app main section#shopList aside {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  z-index: 1;
}
#app main section#shopList aside div.shop_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#app main section#shopList aside div.shop_header h2 {
  color: var(--darkgray);
  font-size: 3em;
}
#app main section#shopList aside div.shop_header img {
  width: 36px;
  user-select: none;
}
#app main section#shopList aside div.shop_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#app main section#shopList aside .button {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: var(--lightgray);
  color: var(--darkgray);
  border-radius: 8px;
  border: 1px solid --darkgray;
  font-size: 2em;
  cursor: pointer;
}
#app main section.shop {
  position: fixed;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  background-color: var(--primary);
  z-index: 10;
  transform: translateX(50%);
  padding: 20px;
}
#app main section.shop div.shop_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#app main section.shop div.shop_header h4 {
  font-size: 3em;
}
#app main section.shop div.shop_header p {
  font-size: 3em;
  cursor: pointer;
}
#app main section.shop div.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 20px;
}
#app main section.shop div.container .pattern, #app main section.shop div.container .upgrade {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: var(--darkgray) 2px solid;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--gray);
}
#app main section.shop div.container .pattern svg, #app main section.shop div.container .upgrade svg {
  stroke: var(--black);
  fill: white;
}
#app main section.shop div.container .pattern button, #app main section.shop div.container .upgrade button {
  background: var(--lightgray);
  border: 2px solid var(--darkgray);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
#app main section.shop div.container .pattern p, #app main section.shop div.container .upgrade p {
  font-size: 1.5em;
  color: var(--white);
}
#app footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
#app footer img {
  position: absolute;
  filter: opacity(0.8);
  height: 100%;
  user-select: none;
}
#app footer p {
  z-index: 1;
  padding: 20px;
  color: var(--darkgray);
  font-size: 2em;
}

/*# sourceMappingURL=style.css.map */
