@font-face {
  font-family: 'dogica';
  src: url("/fonts/dogica.ttf");
}

:root {
  font-family: "dogica", sans-serif;
  line-height: 1.1;
  letter-spacing: -5px;
  font-weight: 400;
  font-size: .65em;

  --black: #000000;
  --white: #FFFFFF;
  --primary: #8F7676;
  --primary75: #8f7676c3;
  --darkgray: #555555;
  --gray: #696969;
  --lightgray: #cdcdcd;

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flexRow($gap:0px, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin flexColumn($gap:0px, $justify: center, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

body {
  @include flexRow();
  place-items: center;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100dvh;

  background-image: url(/img/Tile.png);
  background-size: 3%;
}

#app {
  max-width: 1440px;
  max-height: 1024px;
  width: 100%;
  height: 100dvh;
  @include flexColumn(0px, start);
  text-align: center;
  overflow: hidden;

  header {
    width: 100%;
    @include flexRow(0px,space-between, start);

    div#header_info {
      position: relative;
      width: 500px;
      height: 100px;
      @include flexColumn(0, center, start);
      color: var(--white);

      img {
        position: absolute;
        width: 100%;
        user-select: none;
      }
      h1 {
        font-size: 3em;
        z-index: 1;
        padding: 0 10px;
      }
      div{
        @include flexRow(10px);
        z-index: 1;
        padding: 0 10px;

        p {
          color: var(--lightgray);
          font-size: 1.5em;

          &#user {
            color: var(--white);
            font-size: 2em;
          }
        }
      }
    }
    i {
      font-size: 4em;
      cursor: pointer;
      color: var(--gray);
    }
  }
  main {
    width: 100%;
    height: 100%;
    @include flexRow(0, space-between);

    aside#stats {
      @include flexColumn(20px, center, start);
      padding: 20px;

      section {
        width: 250px;
        @include flexColumn(5px);
        background-color: var(--primary75);
        padding: 20px;
        color: var(--darkgray);
        text-align: start;
        border: var(--primary) 3px solid;

        h3 {
          width: 100%;
          font-size: 2.5em;
        }
        p {
          width: 100%;
          font-size: 1.5em;
          color: var(--lightgray);
        }
        img#daily_pattern {
          width: 100px;
          user-select: none;
        }
        .slider {
          width: 100%;
          height: 10px;
          accent-color: var(--primary);
        }
      }
    }
    section#simulation {
      position: relative;
      height: 600px;
      @include flexColumn(0px, space-between);

      #factory {
        position: relative;
        width: 200px;
        @include flexColumn();
        user-select: none;
        z-index: 1;
        cursor: pointer;

        #pattern {
          position: absolute;
          left: 58px;
          top: 58px;
          width: 80px;
        }
        #progress {
          position: absolute;
          top: 150px;
          color: var(--white);
        }
      }
      #belt {
        position: absolute;
        top: 180px;
        width: 60px;
        height: 350px;
        background-image: url(/img/Belt.png);
        background-size: contain;
      }
      
      img.part {
        width: 60px;
        position: absolute;
        user-select: none;
      }
      #seller {
        width: 120px;
        user-select: none;
        z-index: 1;
      }
    }
    section#shop {
      position: relative;
      width: 250px;

      >img {
        position: absolute;
        top: -30px;
        filter: opacity(.8);
        user-select: none;
      }
      aside {
        position: relative;
        @include flexColumn(40px);
        padding: 20px;
        z-index: 1;

        div.shop_header {
          @include flexRow(10px);

          h2 {
            color: var(--darkgray);
            font-size: 3em;
          }
          img {
            width: 36px;
            user-select: none;
          }
        }
        div.shop_buttons {
          @include flexColumn(10px);
        }
        .button {
          width: 200px;
          height: 40px;
          @include flexRow();
          background-color: var(--lightgray);
          color: var(--darkgray);
          border-radius: 8px;
          border: 1px solid --darkgray;
          font-size: 2em;
          cursor: pointer;
        }
      }
    }
    section#patternShop {
      position: fixed;
      width: 50%;
      height: 500px;
      @include flexColumn(20px, start, start);
      background-color: var(--primary);
      z-index: 10;
      transform: translateX(50%);
      padding: 20px;

      div.shop_header {
        width: 100%;
        @include flexRow(0, space-between);

        h4 {
          font-size: 3em;
        }
        p {
          font-size: 3em;
          cursor: pointer;
        }
      }
      div.container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: start;
        gap: 20px;

        .pattern {
          width: 100%;
          @include flexColumn(20px, start);
          padding: 10px;
          border: var(--darkgray) 2px solid;
          border-radius: 8px;
          cursor: pointer;

          button {
            background: var(--lightgray);
            border: 2px solid var(--darkgray);
            border-radius: 8px;
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    @include flexRow();

    img {
      position: absolute;
      filter: opacity(.8);
      height: 100%;
      user-select: none;
    }
    p {
      z-index: 1;
      padding: 20px;
      color: var(--darkgray);
      font-size: 2em;
    }
  }
}